.exercise {
  background-color: #ececec;
  height: 540px;
  overflow: hidden;
  padding: {
    top: 10px;
    left: 40px;
    right: 40px;
  };
}

.exercise-widget {
  float: left;
  width: 95%;
}

.exercise-check {
  float: right;
  width: 40px;
  height: 40px;

  position: relative;
  top: -55px;
  left: 10px;

  border-radius: 100%;
  background-color: $nav-color;
  border: none;

  &:hover {
    background-color: $nav-active-color;
  }
}

.labels {
  overflow: hidden;

  .picture {
    float: left;
    margin: 10px;
  }
}

.words-list {
  background-color: #c6c6c6;
  padding: 10px 0px;
  text-align: center;
  list-style: none;
  border: 1px #a3a3a3 solid;

  li {
    display: inline;
    padding: 5px;
  }
}

.what-you-see {
  overflow: hidden;

  .picture {
    float: left;
    margin: 10px;

    img {
      width: 160px;
      height: 110px;
    }
  }
}

.what-answers {
  overflow: hidden;

  .answer {
    float: left;
    width: 33%;
    margin-top: 10px;

    input {
      width: 3em;
      border-radius: 5px;
      border: 1px #808080 solid;
    }
  }
}
